.boardSquare {
  display: grid;
  place-content: center;
  height: 100px;
  width: 100px;
}

.lightSquare {
  background-color: white;
}

.darkSquare {
  height: 100px;
  width: 100px;
  background-color: black;
}

.squareLabel {
  display: block;
  position: absolute;
}
