.board {
    display: grid;
    background-color: black;
    width: var(--board-size);
    height: var(--board-size);
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 0.1em solid black;
}
