.chess-piece {
    height: var(--piece-size);
    width: var(--piece-size);
    z-index: 1;
    text-align: center;
    place-content: center;
    font-size: var(--piece-size);
    font-family: 'Merida';
}
