.boardSquare {
    display: grid;
    place-content: center;
    height: calc(var(--square-size)); /* Adjust for border */
    width: calc(var(--square-size));
}

.lightSquare {
    background-color: var(--light-square-color);
}

.darkSquare {
    background-color: var(--dark-square-color);
}

.squareLabel {
    display: block;
    position: absolute;
    font-size: x-small;
    opacity: 50%;
    padding-left: 0.1em;
    color: var(--text-color-light);
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.highlight-border-light {
    box-sizing: border-box;
    border: 1px solid var(--highlight-border-color);
    box-shadow: var(--highlight-shadow-light);
    z-index: 45;
}

.highlight-border-dark {
    box-sizing: border-box;
    border: 1px solid var(--highlight-border-color);
    box-shadow: var(--highlight-shadow-dark);
    z-index: 45;
}

.highlight-border-king-check {
    box-sizing: border-box;
    border: 1px solid var(--highlight-border-color);
    box-shadow: var(--highlight-shadow-check);
    z-index: 45;
}
