:root {
    --board-size: 80vmin;
    --square-size: calc(var(--board-size) / 8);
    --light-square-color: #ececd0;
    --dark-square-color: #779656;
    --highlight-border-color: lightgreen;
    --highlight-border-width: 0.1em;
    --highlight-shadow-light: 0 0 2em 0.5em lightgreen inset,
        0 0 2em 0.7em seagreen inset;
    --highlight-shadow-dark: 0 0 2em 0.7em lightgreen inset,
        0 0 2em 0.5em wheat inset;
    --highlight-shadow-check: 0 0 2em 0.7em maroon inset,
        0 0 2em 0.5em red inset;
    --piece-size: calc(var(--board-size) / 12);
    --text-color-light: black;
    --text-color-dark: white;
}

#chess-game {
    display: grid;
    background-color: black;
    width: var(--board-size); /* Adjust for border */
    height: var(--board-size);
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100vh;
    place-content: center;
    font-size: calc(16 * var(--board-size) / 800);
}

.chess-container {
    display: grid;
    place-content: center;
    grid-column-start: 1;
    grid-column-end: 4;
}

.info {
    grid-column-start: 4;
    grid-column-end: 5;
    height: var(--board-size);
    padding: calc(var(--board-size) / 100);
    border-bottom: 0.1em solid gray;
    overflow: scroll;
    word-wrap: break-word;
    width: 100%;
}

.moves-table table,
th,
td {
    border: 0.1em solid gray;
    padding: calc(var(--board-size) / 100);
}
