.boardSquare {
    display: grid;
    place-content: center;
    height: 100.5px;
    width: 100.5px;
    border: none;
}

.lightSquare {
    background-color: #ececd0;
}

.darkSquare {
    background-color: #779656;
}

.squareLabel {
    display: block;
    position: absolute;
    font-size: x-small;
    opacity: 50%;
    padding-left: 2px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.highlight {
    height: 10px;
    width: 10px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;
    border-radius: 50%;
    position: fixed;
    margin-top: 45px;
    margin-left: 45px;
}

.highlight-light {
    background-image: radial-gradient(
        circle at center,
        #779656 0,
        #ececd0 100%
    );
}

.highlight-dark {
    background-image: radial-gradient(
        circle at center,
        #ececd0 0,
        #779656 100%
    );
}
