.boardSquare {
    display: grid;
    place-content: center;
    height: 100px;
    width: 100px;
    border: none;
}

.lightSquare {
    background-color: #ececd0;
}

.darkSquare {
    background-color: #779656;
}

.squareLabel {
    display: block;
    position: absolute;
    font-size: smaller;
    opacity: 50%;
    padding-left: 2px;
}
